# Project env

SERVER_PORT=1488

# Redis

REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_USER=parser_service
REDIS_PASSWORD=PASSWORD

# Database

# DB Url. Here's example for Postgres SQL
DATABASE_URL=postgresql://parser_service:ENCODED_URL_PASSWORD@0.0.0.0:5432/parser_db

# RabbitMQ

RABBITMQ_CONNECTION_URL=amqp://parser_service:ENCODED_URL_PASSWORD@0.0.0.0:5672

# JWT Secret

JWT_SECRET=STRONG_JWT_HASH